@model List<Worker>
@{
    var counter = 0;
}
@section cssLinks{
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.min.css" rel="stylesheet">
}

<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .img {
        width: 30%;
    }
</style>
<div class="container-fluid">
    <div class="header">
        <h1 class="title">Workers Table</h1>
        <a class="btn btn-primary" asp-action="create" asp-controller="worker">Create</a>
    </div>

    <table class="table table-striped shadow">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">FullName</th>
                <th scope="col">Position</th>
                <th scope="col">Worker-Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var worker in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@worker.FullName</td>
                    <td>@worker.Position</td>
                    <td><img src="~/uploads/workers-images/@worker.ImgUrl" class="img" /></td>
                    <td>
                        <a class="btn btn-warning" asp-action="update" asp-controller="worker" asp-route-id="@worker.Id">Update</a>
                        <a class="btn btn-secondary delete-btn" asp-action="softDelete" asp-controller="worker" asp-route-id="@worker.Id">SoftDelete</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="worker" asp-route-id="@worker.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section jsLinks{
    <script src="~/admin/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.all.min.js"></script>
}